@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .h-7rem{
        height: 7rem;
    }
    
    .w-15rem{
        width: 15rem;
    }
    .w-7rem {
        width: 3rem;
    }
    .h-5rem{
        height:3rem;
    }
    .borderadius{
        border-radius: 50%;
    }
    .clr{
        color: blue;
    }
    .clr1{
        color: white;
    }
    .h15rem{
        height: 20rem;
    }
    .mr20rem{
        margin-right: 20rem;
    }
    .h100rem{
        height: 25rem;
    }
}